/* 页面背景色 */
.page {
  background-color: #ededed;

  /* #ifdef APP-PLUS-NVUE */
  flex: 1;
  /* #endif */

  /* #ifndef APP-PLUS-NVUE */
  min-height: 100%;
  height: auto;
  /* #endif */
}

/* 主背景色 */
.main-gb-color {
  background-color: #08c060;
}
.main-gb-hover-color {
  background-color: #189454;
}

/* 主字体色 */
.main-font-color {
  color: #08c060;
}
.main-border-color {
  border-color: #08c060 !important;
}
/* 聊天背景色 */
.bg-chat-item {
  background-color: #6bee68;
}
